.flag {
    .ned {
        width: 220px;
        height: 147px;
        background-image: -webkit-linear-gradient(top, #AE1C28 0, #AE1C28 33%, #FFF 33%, #FFF 67%, #21468B 67%, #21468B 100%);
        background-image: linear-gradient(180deg, #AE1C28 0, #AE1C28 33%, #FFF 33%, #FFF 67%, #21468B 67%, #21468B 100%);
    }
}